body {
    background-color: #fff;
    color: #333;
    font:
        1.2em / 1.5 Helvetica Neue,
        Helvetica,
        Arial,
        sans-serif;
    padding: 1em;
    margin: 0;
}

.box span {
    display: inline-block;
    background-color: pink;
    border: 5px solid black;
    padding: 1em;
}